<!DOCTYPE html>
{% load static %}
<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href='{% static "account/css/style.css" %}' />
<link rel="stylesheet" href='{% static "account/css/modal.css" %}' />

</head>
<body>
 <h1><font color="red">{{ display_name }}</font>さんようこそ！！</h1>

 <div>
    {% for year in year_list %}
    {{ year }}　
    {% endfor %}
 </div>

 <div>
    {% for month in month_list %}
        {{ month }}　
    {% endfor %}
 </div>

 <div>
    {% for week in week_list %}
        {{ week }}　
    {% endfor %}
 </div>

<div>
    {% for event in event_list %}
        {{ event }}　
    {% endfor %}
</div>
 <p class="message"> ログアウトは
 <a href="{% url 'Logout' %}">こちら</a>
 </p>

 <p><a id="modal-open" class="button-link">クリックするとモーダルウィンドウを開きます。</a></p>

 <!-- <div id="modal-overlay"></div> -->


 <div id="modal-content">
	<p>「閉じる」か「背景」をクリックするとモーダルウィンドウを終了します。</p>
	<p><a id="modal-close" class="button-link">閉じる</a></p>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src='{% static "account/js/modal.js" %}'></script>
</body>
</html>